
{{#each note in model}}
  <li>{{note.text}}</li>
  <p><button {{action "deleteNote" note}}>Delete Note</button></p>
  {{/each}}

  {{textarea value=newText placeholder="Add a note!"}}

  <p><button {{action "createNote"}}>Add Note</button></p>
